@tailwind base;
@tailwind components;
@tailwind utilities;

/* Scrollbar gizleme (Görseldeki gibi temiz görünüm için) */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}
.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}